.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #ae2e2e;
    padding: 0.5rem 1rem;
    border: 2px solid #c2d0c5;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav a:hover {
    background-color: #dcd514;
    color: #8186b4;
  }