.centerWords {
  width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.grid {
  width: 1156px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(1, 300px);
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 3rem;
    
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  text-decoration: none;

}



.circle:hover {
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.ji {
  margin-bottom: 180px;
  margin-left: 100px;
  background: radial-gradient(circle at 30% 30%, #e2b0b0,#e54b5282);
  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
    color: #931d1d;
}

.jis {
  margin-top: 25rem;
  background: radial-gradient(circle at 30% 30%, #a193e2, #5e508d);
  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
  color: #3d3c8b;
  
}

.as {
  margin-top: 4rem;
  background: radial-gradient(circle at 30% 30%, #f4abd2, #972f57);
  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
  color: #5c1631;
}

.mes {
margin-top:-12rem;
background: radial-gradient(circle at 30% 30%, #b2f28b, #6ba931);
box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
color: #20580b;
 
}

.tu {
  margin-top: 50rem;
  background: radial-gradient(circle at 30% 30%, #84efd6, #329f73);
  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
  color: #103105;
}

.jus {
  margin-top: 140px;
  background: radial-gradient(circle at 30% 30%, #93d6e2, #328d8f);
  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
  color: #0f4f51;
}

.jie {
    
  margin-left: 40px;
  background: radial-gradient(circle at 30% 30%, #d693e2, #dc8cf0);
  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
    color: #511f5d;
}

.jos {
  margin-top: 25rem;
  margin-right: 6rem;
  background: radial-gradient(circle at 30% 30%, #e5d489, #948024);
  box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.3),
    0 20px 25px rgba(0, 0, 0, 0.4);
    color: #51510f;
}

@media only screen and (max-width: 1024px) {
  .grid {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 300px);
    font-size: 1.5rem;
  }

  .circle {
    width: 50px;
    height: 50px;
  }

  .ji {
    margin-bottom: 90px;
    margin-left: 50px;
    
  }
  
  .jis {
    margin-top: 13rem;
    
    
  }
  
  .as {
    margin-top: 2rem;
    
  }
  
  .mes {
  margin-top:-6rem;
  
   
  }
  
  .tu {
    margin-top: 25rem;
    
  }
  
  .jus {
    margin-top: 70px;
    
  }
  
  .jie {
      
    margin-left: 20px;
    
  }
  
  .jos {
    margin-top: 13rem;
    margin-right: 3rem;
   
  }
}
