.HomeList {
    display: flex;
    flex-direction: column;
    /*width: 200px;*/
    padding: 6rem 4rem;
    height: auto; 
    box-sizing: border-box;
    font-size: 2.5rem;

    
  }
  
  .HomeList nav {
    display: flex;
    flex-direction: column;
    gap:2.5rem;
  }
  
  .link{
    text-decoration: none;
    color: #333;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    box-shadow:
    inset -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.3),
    0 10px 15px rgba(0, 0, 0, 0.4);
  }

  .kasText,
  .koText,
  .kamText,
  .kaText,
  .kuoText,
  .kurText {
      font-size: 2rem;
    }

  .vardininkasText,
  .kilmininkasText,
  .naudininkasText,
  .galininkasText,
  .inagininkasText,
  .vietininkasText {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    }

  .vard{
    border-color: #72a888;
    border-width: 0.2rem;
    border-style: solid;
    background-color: #c7e8d4;
  }
  
  .vard:hover {
    background-color: #e5fbee;
  }
 
  

  .kilm{
    border-color: #f98686;
    border-width: 0.2rem;
    border-style: solid;
    background-color: #f8b3b3;
  }
  .kilm:hover {
    background-color: #f7e3e3;
  }

  


  .naud{
    border-color: #a076f4;
    border-width: 0.2rem;
    border-style: solid;
    background-color:  #c4acf5;
  }
  .naud:hover {
    background-color: #e6def5;
  }

 
  

  .galin{
    border-color: #f66cd8;
    border-width: 0.2rem;
    border-style: solid;
    background-color:  #f5b6e8;
  }
  .galin:hover {
    background-color: #fadef4;
  }
  
  

  .inag{
    border-color: #71b2f3;
    border-width: 0.2rem;
    background-color:  #b7d6f5;
  }
  .inag:hover {
    background-color: #e0ecf8;
  }
  
  

  .viet{
    border-color: #f2cc72;
    border-width: 0.2rem;
    border-style: solid;
    background-color:  #f5e1b1;
  }
  .viet:hover {
    background-color: #f3f1dd;
  }
  
  

  @media only screen and (max-width: 1024px) {
    .HomeList {
      font-size: 2rem;
      padding: 1rem;
    }
  
    .link {
      padding: 0.5rem 2rem;
    }
  
    .vardininkasText,
    .kilmininkasText,
    .naudininkasText,
    .galininkasText,
    .inagininkasText,
    .vietininkasText {
      font-size: 2rem;
    }
  
    .kasText,
    .koText,
    .kamText,
    .kaText,
    .kuoText,
    .kurText {
      font-size: 1.6rem;
    }
  }
  
  /* Mobile (width ≤ 600px) */
  @media only screen and (max-width: 600px) {
    .HomeList {
      font-size: 1.5rem;
      padding: 0.5rem;
      height: auto; /* Let it grow naturally on small screens */
    }
  
    .link {
      padding: 0.5rem 1rem;
      text-align: center;
    }
  
    .vardininkasText,
    .kilmininkasText,
    .naudininkasText,
    .galininkasText,
    .inagininkasText,
    .vietininkasText {
      font-size: 1.5rem;
    }
  
    .kasText,
    .koText,
    .kamText,
    .kaText,
    .kuoText,
    .kurText {
      font-size: 1.2rem;
    }
  }