.HomeList {
    display: flex;
    flex-direction: column;
    /*width: 200px;*/
    padding: 1rem;
    height: 100vh; 
    box-sizing: border-box;
    font-size: 2.5rem;

    
  }
  
  .HomeList nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .link{
    text-decoration: none;
    color: #333;
    padding: 0.5rem 4rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
  }
  .vard{
    border-color: #72a888;
    border-width: 0.2rem;
    border-style: solid;
  }
  
  .vard:hover {
    background-color: #d3fae3;
  }
  .vardininkasText {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .kasText {
    font-size:2rem;
    
  }

  .kilm{
    border-color: #f98686;
    border-width: 0.2rem;
    border-style: solid;
  }
  .kilm:hover {
    background-color: #f7cece;
  }

  .kilmininkasText {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .koText {
    font-size:2rem;
    
  }

  .naud{
    border-color: #a076f4;
    border-width: 0.2rem;
    border-style: solid;
  }
  .naud:hover {
    background-color: #dccef7;
  }

  .naudininkasText {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .kamText {
    font-size:2rem;
    
  }

  .galin{
    border-color: #f66cd8;
    border-width: 0.2rem;
    border-style: solid;
  }
  .galin:hover {
    background-color: #f7ceee;
  }
  .galininkasText  {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .kaText {
    font-size:2rem;
    
  }
  .inag{
    border-color: #71b2f3;
    border-width: 0.2rem;
    border-style: solid;
  }
  .inag:hover {
    background-color: #acd0f4;
  }
  .inagininkasText  {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .kuoText {
    font-size:2rem;
    
  }

  .viet{
    border-color: #f2cc72;
    border-width: 0.2rem;
    border-style: solid;
  }
  .viet:hover {
    background-color: #f5f0b0;
  }
  .vietininkasText  {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .kurText {
    font-size:2rem;
    
  }