.home {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    gap: 1rem; 
    padding: 1rem;
    height: auto; 
    width: 100%;
    background-color: rgb(224, 252, 224);
    border-bottom: 0.1rem solid #ccc;
    box-shadow: 0 0.2rem 0.4rem #0003;
  }
  
  .homeList {
    flex: 0.5; 
    background-color:transparent; 
  }
  
  .centerWords {
    flex: 2; 
    background-color: transparent; 
  }